<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

	<!-- 发布偏好信息管理服务 -->
	<bean class="com.riambsoft.core.web.RSService" init-method="init"
		destroy-method="destroy">
		<argument>
			<bean class="com.riambsoft.base.service.impl.StateServiceImpl">
			</bean>
		</argument>
	</bean>
	
	<!-- 获取用户DAO -->
	<reference id="userDao" interface="com.riambsoft.core.dao.UserDao"
		timeout="30000" />
	
	<!-- 发布用户管理服务 -->
	<bean class="com.riambsoft.core.web.RSService" init-method="init"
		destroy-method="destroy">
		<argument>
			<bean class="com.riambsoft.base.service.impl.UserManagerImpl">
				<argument ref="userDao" />
			</bean>
		</argument>
	</bean>

</blueprint>

